.steam-user {
    position: relative;
    max-width: 360px;
    background-color: rgb(22, 32, 45);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.steam-user-image {
    position: relative;
    width: 100%;
    height: 176px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.steam-user-infos {
    position: relative;
    padding: 15px;
}

.steam-user-infos-left {
    position: relative;
    display: inline-block;
}

.steam-user-infos-left-avatar {
    position: relative;
    display: inline-block;
    top: 4px;
}

.steam-user-infos-left-avatar img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.steam-user-infos-left-text {
    position: relative;
    display: inline-block;
    top: -12px;
    margin-left: 10px;
}

.steam-user-infos-left-text-name {
    color: rgb(200, 200, 200);
}

.steam-user-infos-left-text-since {
    color: rgb(150, 150, 150);
    font-size: 0.8em;
}

.steam-user-infos-right {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    float: right;
}

.steam-user-infos-right-online {
    position: relative;
    top: 11px;
    color: rgb(100, 100, 100);
    font-size: 0.8em;
}

.steam-user-infos-right-online-green {
    color: rgb(85, 190, 111);
}

.steam-user-infos-right-view {
    position: relative;
    top: 15px;
}

.steam-user-infos-right-view a {
    color: #D2E885;
    background: linear-gradient(to bottom, #a4d007 5%, #536904 95%);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 0.9em;
    font-family: 'Motiva Sans', sans-serif;
}

.steam-user-infos-right-view a:hover {
    color: rgb(250, 250, 250);
}

@media screen and (max-width: 401px) {
    .steam-user-infos-left-text-name {
        font-size: 0.8em;
    }
    
    .steam-user-infos-left-text-since {
        font-size: 0.7em;
    }

    .steam-user-infos-right {
        margin-right: 1px;
    }
}
