/*
    app.scss
*/

html, body {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

body {
    overflow-x: hidden;
    background-color: rgb(25, 40, 55);
}

.navbar {
    background-color: transparent;
    transition: .3s ease-in-out;
}

.navbar-no-transition {
    transition: unset;
}

.navbar-item-brand img {
    border-radius: 50%;
}

.navbar-purple {
    background-color: rgb(76, 76, 120) !important;
}

.navbar-menu {
    @media screen and (max-width: 1089px) {
        background-color: rgb(76, 76, 120) !important;
    }
}

a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    background-color: rgba(255, 255, 255, 0.0) !important;
    color: rgb(180, 180, 180) !important;
}

.navbar-item, .navbar-burger, .navbar-link {
    color: rgb(190, 190, 190);
}

.navbar-dropdown {
    background-color: rgb(50, 50, 48);
}

.navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: rgba(0, 0, 0, 0.0);
}

@media screen and (max-width: 1087px) {
    .navbar-menu {
        background-color: rgb(50, 50, 48);
    }
}

a.navbar-burger:hover {
    color: rgb(200, 200, 200);
}

.navbar-start {
    @media screen and (min-width: 1088px) {
        flex-grow: 1;
        justify-content: center;
    }
}

.is-font-title {
    font-family: 'Helvetica', Verdana, Arial, sans-serif;
    font-size: 20px;
}

.header {
    width: 100%;
    height: 750px;
    @media screen and (max-width: 768px) {
        height: 550px;
    }
    @media screen and (max-width: 441px) {
        height: 685px;
    }
    background-color: rgb(41, 52, 62);
}

.header-overlay {
    width: 100%;
    height: 100%;
}

.header-content {
    position: relative;
    top: 50%;
    @media screen and (min-width: 769px) {
        transform: translateY(-15%);
    }
    padding: 20px;
    @media screen and (max-width: 1088px) {
        margin-top: 58px;
    }
}

.header-content h1 {
    font-size: 2.0em;
}

.header-content h2 {
    font-size: 1.8em;
    color: rgba(00, 255, 135, 0.7);
}

.header-description {
    margin-top: 20px;
    color: rgb(230, 230, 230);
}

.header-buttons {
    margin-top: 30px;
}

.header-gradient {
    display: inline-block;
    background-image: linear-gradient(90deg, rgb(55, 115, 209), rgb(49, 231, 134));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.header-image {
    width: 65%;
    height: 100%;
}

.content-section {
    padding: 20px;
    color: rgb(150, 150, 150);
}

.content-centered {
    text-align: center;
}

.content-top-margin {
    margin-top: 90px;
    @media screen and (max-width: 1088px) {
        margin-top: 58px;
    }
}

.content-section h1 {
    font-size: 2.0em;
    margin-bottom: 10px;
    color: rgb(230, 230, 230);
}

.content-section h2 {
    font-size: 1.5em;
    color: rgb(200, 200, 200);
}

.content-section h3 {
    font-size: 1.2em;
    color: rgb(100, 100, 100);
    margin-bottom: 30px;
    color: rgb(200, 200, 200);
}

.content-section p {
    margin-bottom: 20px;
    color: rgb(150, 150, 150);
}

.content-section a {
    color: #3273dc;
}

.content-section a:hover {
    color: #3273dc;
    text-decoration: underline;
}

.content-section pre {
    padding: unset;
    margin-top: -15px;
    margin-bottom: -61px;
    background-color: unset;
}

.content-section code {
    background-color: rgb(22, 32, 45);
    border-radius: 4px;
}

.content-section ul {
    list-style: square;
}

.content-section li {
    margin-left: 15px;
}

.content-section table {
    margin-bottom: 40px;
}

.content-section tbody {
    border: 1px solid #ccc;
}

.content-section td {
    padding: 15px;
}

.is-content {
    color: rgb(200, 200, 200);
    padding-bottom: 50px;
}

.is-content pre {
    padding: unset;
    margin-top: -15px;
    margin-bottom: -61px;
    background-color: unset;
}

.is-content code {
    border-radius: 12px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.is-highlight {
    font-size: 1.5em;
}

tbody {
    color: rgb(150, 150, 150);
}

tbody strong {
    color: rgb(150, 150, 150);
}

.tr-colored {
    background-color: rgb(38, 61, 83);
}

.content-section hr {
    background-color: rgb(200, 200, 200);
}

.info-box {
    position: relative;
    background-color: rgba(130, 130, 255, 0.4);
    border: 1px solid rgb(130, 130, 255);
    border-radius: 5px;
    padding: 20px;
}

.info-box strong {
    color: rgb(200, 200, 200);
}

.info-box a {
    color: rgb(123, 220, 255);
}

.info-box a:hover {
    color: rgb(123, 220, 255);
    text-decoration: underline;
}

.stats-input {
    padding: 8px;
    color: rgb(50, 50, 50);
    background-color: rgb(200, 200, 200);
    border: 1px solid rgb(100, 100, 100);
    border-radius: 5px;
}

#referrers {
    margin-top: 25px;
}

.scroll-to-top {
    position: fixed;
    z-index: 3;
    bottom: 12px;
    right: 12px;
}

.scroll-to-top-inner {
    background-color: rgb(100, 100, 100);
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scroll-to-top-inner a {
    color: rgb(200, 200, 200);
}

.scroll-to-top-inner a:hover {
    color: rgb(200, 200, 200);
}

.footer {
    width: 100%;
    color: rgb(100, 100, 100);
    background-color: rgb(50, 50, 48);
    padding: 1rem 1.5rem 1rem;
}

.footer-frame {
    width: 100%;
}

.footer-content {
    text-align: center;
}

.footer-content a {
    color: rgb(130, 130, 130);
}

.footer-content a:hover {
    color: rgb(150, 150, 150);
    text-decoration: none;
}

.steam-app-footer-button a {
    color: #D2E885 !important;
}

.steam-app-footer-button a:hover {
    color: rgb(250, 250, 250) !important;
    text-decoration: none !important;
}

.steam-group-info-footer-action a {
    color: #D2E885 !important;
}

.steam-group-info-footer-action a:hover {
    color: rgb(250, 250, 250) !important;
    text-decoration: none !important;
}

.steam-server-action a {
    color: #D2E885 !important;
}

.steam-server-action a:hover {
    color: rgb(250, 250, 250) !important;
    text-decoration: none !important;
}

.steam-user-infos-right-view a {
    color: #D2E885 !important;
}

.steam-user-infos-right-view a:hover {
    color: rgb(250, 250, 250) !important;
    text-decoration: none !important;
}

.steam-workshop-info-footer-action a {
    color: #D2E885 !important;
}

.steam-workshop-info-footer-action a:hover {
    color: rgb(250, 250, 250) !important;
    text-decoration: none !important;
}

.hide-mobile {
    @media screen and (max-width: 1087px) {
        display: none;
    }
}

.fade {
    transition: opacity 0.65s ease-in;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.widget-types {
    text-align: center;
}

.widget-type {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    padding-top: 25px;
    padding-bottom: 50px;
    background-color: rgb(50, 51, 76);
    border-radius: 12px;
    border-left: 3px solid rgb(74, 123, 163);
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.2em;
    text-align: center;
}

.widget-type-icon {
    padding-bottom: 5px;
}

.widget-type-info {
    padding-top: 5px;
}

.is-centered {
    text-align: center;
}

.is-sidepadding {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-top-cdn {
    padding-top: 48px;
}

.padding-top-npm {
    padding-top: 45px;
}

.button-get-started {
    margin-top: 50px;
    margin-bottom: 50px;
}

.button-get-started a {
    display: inline-block;
    width: 305px;
    @media screen and (max-width: 479px) {
        width: 283px;
    }
    height: 65px;
    background-color: rgb(50, 115, 220);
    color: rgb(250, 250, 250);
    border-radius: 35px;
    padding-top: 8px;
    font-size: 2.0em;
}

.button-get-started a:hover {
    background-color: rgb(63, 123, 220);
    color: rgb(250, 250, 250);
    text-decoration: none;
}

.is-widescreen {
    @media screen and (max-width: 769px) {
        display: none !important;
    }
}

.is-smallscreen {
    @media screen and (min-width: 768px) {
        display: none !important;
    }
}
